In [143]:
#Download Path
download_dir = r"C:\Users\Inv_edg\Downloads"  # Change this to your actual download directory
#Data Path
data_path = r"S:\Riew\Significance\Data.xlsx"
#VBA
excel_path = r"S:\Riew\Significance\AdjustingData - Copy.xlsm"
#ตลาดวันนี้เปิดแล้ว mkt = 1 ยังไม่เปิด mkt = 0
mkt = 1

import warnings
warnings.filterwarnings("ignore")

Download Recent Data

In [106]:
import os
import shutil
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.action_chains import ActionChains
# Set up Selenium webdriver
driver = webdriver.Chrome()  # You may need to change this path to the location of your Chrome webdriver

# Load the webpage
url = "https://www.set.or.th/en/market/statistics/short-sales/total-short-sales"
driver.get(url)
time.sleep(3)

# Find the export button
export_button = driver.find_element(By.XPATH, "//button[contains(text(),'Export Excel')]")

driver.execute_script("window.scrollBy(0, 500);")  # Scroll down by 500 pixels each time
time.sleep(1)
# Scroll to the export button
actions = ActionChains(driver)
actions.move_to_element(export_button).perform()

# Click the button
export_button.click()
time.sleep(3)

driver.close()
# Load the webpage
driver = webdriver.Chrome()
url = "https://www.set.or.th/en/market/statistics/short-sales/outstanding-short-positions"
driver.get(url)
time.sleep(3)

# Find the export button
export_button = driver.find_element(By.XPATH, "//button[contains(text(),'Export Excel')]")

driver.execute_script("window.scrollBy(0, 500);")  # Scroll down by 500 pixels each time
time.sleep(1)
# Scroll to the export button
actions = ActionChains(driver)
actions.move_to_element(export_button).perform()

# Click the button
export_button.click()
time.sleep(3)
driver.close()

In [107]:
name = ['SET:ADVANC', 'SET:AOT', 'SET:AWC', 'SET:BANPU', 'SET:BBL', 'SET:BDMS', 'SET:BEM', 'SET:BGRIM', 'SET:BH', 'SET:BTS', 'SET:CBG', 'SET:CENTEL', 'SET:COM7', 'SET:CPALL', 'SET:CPF', 'SET:CPN', 'SET:CRC', 'SET:DELTA', 'SET:EA', 'SET:EGCO', 'SET:GLOBAL', 'SET:GPSC', 'SET:GULF', 'SET:HMPRO', 'SET:INTUCH', 'SET:IVL', 'SET:KBANK', 'SET:KCE', 'SET:KTB', 'SET:KTC', 'SET:LH', 'SET:MINT', 'SET:MTC', 'SET:OR', 'SET:OSP', 'SET:PTT', 'SET:PTTEP', 'SET:PTTGC', 'SET:RATCH', 'SET:SAWAD', 'SET:SCB', 'SET:SCC', 'SET:SCGP', 'SET:TISCO', 'SET:TOP', 'SET:TRUE', 'SET:TTB', 'SET:TU', 'SET:WHA', 'SET:TLI']

VBA: Formatting File

In [108]:
import xlwings as xw

wb = xw.Book(excel_path)
macro_name = "AdjustExcelFilesRecent"

# Get the macro
macro = wb.macro(macro_name)

# Run the macro
macro()

In [109]:
import os

# Directory where the files are downloaded

# Get a list of all files in the download directory
files = os.listdir(download_dir)

# Initialize variables to store the paths of the most recent files
most_recent_outstanding_short_positions = None
most_recent_short_sales = None

# Filter files starting with "Outstanding ShortPositions" or "Short Sales"
for file in files:
    if file.startswith("Outstanding Short Positions"):
        file_path = os.path.join(download_dir, file)
        if most_recent_outstanding_short_positions is None or os.path.getmtime(file_path) > os.path.getmtime(most_recent_outstanding_short_positions):
            most_recent_outstanding_short_positions = file_path
    elif file.startswith("Short Sales"):
        file_path = os.path.join(download_dir, file)
        if most_recent_short_sales is None or os.path.getmtime(file_path) > os.path.getmtime(most_recent_short_sales):
            most_recent_short_sales = file_path

# Now you have the paths to the most recent files for each type
print("Most recent Outstanding ShortPositions file:", most_recent_outstanding_short_positions)
print("Most recent Short Sales file:", most_recent_short_sales)

Most recent Outstanding ShortPositions file: C:\Users\Inv_edg\Downloads\Outstanding Short Positions_17-06-2024.xlsx
Most recent Short Sales file: C:\Users\Inv_edg\Downloads\Short Sales_17-06-2024 to 17-06-2024.xlsx

In [159]:
import pandas as pd
allX_noshift = pd.read_excel(data_path)

Concat and save updated data

In [161]:
import openpyxl
import math
import numpy as np
import os

df_temp = pd.DataFrame()

filename = os.path.basename(most_recent_short_sales)
date_part = filename.split('_')[1].split(' to ')[0]
df_temp['dateexcel'] = [date_part]


for j in range(len(name)):
    volume = []
    turnover = []
    volume_compare_automatching = []
    outstanding_short_volume = []
    paid_up_shares = []
    Outstanding_short_volume_to_paid_up_share = []
    outstanding_short_local_and_NVDR_Volume_to_paid_up_share = []

    stock = name[j]
    stock = stock[4:]

    path = most_recent_short_sales
    wb = openpyxl.load_workbook(path)
        # Select the active worksheet
    ws = wb.active

        # Iterate through column A to find the cell with the value same as stock
    stock_found = False

    for row in ws.iter_rows(min_row=1, max_row=ws.max_row, min_col=1, max_col=1):
        for cell in row:
            if cell.value == stock:
                # Get values from columns B, C, D on the same row and append to lists
                volume.append(ws.cell(row=cell.row, column=2).value)
                turnover.append(ws.cell(row=cell.row, column=3).value)
                volume_compare_automatching.append(ws.cell(row=cell.row, column=4).value)
                stock_found = True  # Set flag to True if stock is found
                break  # Stop searching once the value is found
        if stock_found:
            break  # Exit the outer loop if stock is found
        # Check if stock is not found in the entire column
    if not stock_found:
        # Append NaN if stock is not found
        volume.append(math.nan)
        turnover.append(math.nan)
        volume_compare_automatching.append(math.nan)

        # Reset the flag for the next iteration
    wb.close()

    path = most_recent_outstanding_short_positions
    wb = openpyxl.load_workbook(path)
    # Select the active worksheet
    ws = wb.active
    # Iterate through column A to find the cell with the value same as stock
    stock_found = False

    for row in ws.iter_rows(min_row=1, max_row=ws.max_row, min_col=1, max_col=1):
        for cell in row:
            if cell.value == stock:
                # Get values from columns B, C, D, and E on the same row and append to lists
                outstanding_short_volume.append(ws.cell(row=cell.row, column=2).value)
                paid_up_shares.append(ws.cell(row=cell.row, column=3).value)
                Outstanding_short_volume_to_paid_up_share.append(ws.cell(row=cell.row, column=4).value)
                outstanding_short_local_and_NVDR_Volume_to_paid_up_share.append(ws.cell(row=cell.row, column=5).value)
                stock_found = True  # Set flag to True if stock is found
                break  # Stop searching once the value is found
        if stock_found:
            break 
        # Check if stock is not found in the entire column
    if not stock_found:
        # Append NaN if stock is not found
        outstanding_short_volume.append(math.nan)
        paid_up_shares.append(math.nan)
        Outstanding_short_volume_to_paid_up_share.append(math.nan)
        outstanding_short_local_and_NVDR_Volume_to_paid_up_share.append(math.nan)

        # Reset the flag for the next iteration
    wb.close()

    df_temp[name[j]+'Short_vol'] = np.array(volume)
    df_temp[name[j]+'Turnover'] = np.array(turnover)
    df_temp[name[j]+'Vol to Automatching'] = np.array(volume_compare_automatching)
    df_temp[name[j]+'Outstanding Short_vol'] = np.array(outstanding_short_volume)
    df_temp[name[j]+'Paid Up Shares'] = np.array(paid_up_shares)
    df_temp[name[j]+'Outstanding Short_vol to Paid Up Shares'] = np.array(Outstanding_short_volume_to_paid_up_share)
    df_temp[name[j]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares'] = np.array(outstanding_short_local_and_NVDR_Volume_to_paid_up_share)

if allX_noshift['dateexcel'].iloc[-1] == df_temp['dateexcel'].iloc[0]:
    pass
else:
    allX_noshift = pd.concat([allX_noshift, df_temp])

In [113]:
allX_noshift.to_excel(r"S:\Riew\Significance\Data.xlsx", index=False)

In [162]:
allX_noshift

,dateexcel,SET:ADVANCShort_vol,SET:ADVANCTurnover,SET:ADVANCVol to Automatching,SET:ADVANCOutstanding Short_vol,SET:ADVANCPaid Up Shares,SET:ADVANCOutstanding Short_vol to Paid Up Shares,SET:ADVANCoutstanding_short_local_and_NVDR_Volume to Paid Up Shares,SET:AOTShort_vol,SET:AOTTurnover,...,SET:WHAPaid Up Shares,SET:WHAOutstanding Short_vol to Paid Up Shares,SET:WHAoutstanding_short_local_and_NVDR_Volume to Paid Up Shares,SET:TLIShort_vol,SET:TLITurnover,SET:TLIVol to Automatching,SET:TLIOutstanding Short_vol,SET:TLIPaid Up Shares,SET:TLIOutstanding Short_vol to Paid Up Shares,SET:TLIoutstanding_short_local_and_NVDR_Volume to Paid Up Shares
0,02-04-2024,452600,92505400,0.142255,1493900,2974209736,0.05,0.44,797900,52283100,...,14946834679,0.23,0.64,755900,6816140,0.088595,1734300,11450000000,0.02,0.07
1,03-04-2024,563900,114893300,0.077123,1503400,2974209736,0.05,0.44,1818600,119124800,...,14946834679,0.23,0.65,798400,7242415,0.036914,1485800,11450000000,0.01,0.07
2,04-04-2024,392100,80124000,0.104842,1702900,2974209736,0.06,0.45,2449200,159244650,...,14946834679,0.23,0.67,947700,8451950,0.073113,1400000,11450000000,0.01,0.07
3,05-04-2024,44300,9022800,0.017693,1516400,2974209736,0.05,0.44,687300,45037225,...,14946834679,0.23,0.67,195700,1741730,0.037500,1000000,11450000000,0.01,0.07
4,09-04-2024,778100,159607500,0.093814,1764200,2974209736,0.06,0.46,998900,66293850,...,14946834679,0.22,0.67,550700,4941195,0.030164,1051400,11450000000,0.01,0.07
5,10-04-2024,460500,94844800,0.049047,1701700,2974209736,0.06,0.47,2326200,156075500,...,14946834679,0.26,0.73,897400,8198320,0.105337,1101700,11450000000,0.01,0.07
6,11-04-2024,522900,106375400,0.111182,1821100,2974209736,0.06,0.50,1917400,128191550,...,14946834679,0.26,0.72,1401100,12793015,0.117049,1141200,11450000000,0.01,0.07
7,17-04-2024,673300,135344000,0.078260,1744800,2974209736,0.06,0.51,3437200,225497625,...,14946834679,0.26,0.71,1381100,12468375,0.077895,1000000,11450000000,0.01,0.07
8,18-04-2024,862100,170112200,0.098386,1869600,2974209736,0.06,0.52,3558100,233172525,...,14946834679,0.27,0.76,2423300,21651495,0.120873,2219100,11450000000,0.02,0.09
9,19-04-2024,567400,110893450,0.071546,1747000,2974209736,0.06,0.53,3961900,252923750,...,14946834679,0.28,0.83,2531600,22225595,0.094117,3136500,11450000000,0.03,0.10
10,22-04-2024,370900,73494550,0.103398,1643500,2974209736,0.06,0.52,1325600,85416625,...,14946834679,0.28,0.80,610400,5381400,0.057239,2650700,11450000000,0.02,0.09
11,23-04-2024,449000,88821250,0.123433,1708700,2974209736,0.06,0.52,2299500,149277050,...,14946834679,0.27,0.76,935700,8358090,0.067420,2707200,11450000000,0.02,0.09
12,24-04-2024,751800,148329850,0.132343,1907900,2974209736,0.06,0.54,2055300,132708850,...,14946834679,0.27,0.76,608100,5442495,0.070619,2621900,11450000000,0.02,0.09
13,25-04-2024,293900,58036100,0.134953,1860600,2974209736,0.06,0.54,1325900,85219550,...,14946834679,0.28,0.77,589700,5277815,0.060446,2893000,11450000000,0.03,0.10
14,26-04-2024,498700,97761250,0.098618,1938600,2974209736,0.07,0.55,1986100,126960875,...,14946834679,0.30,0.77,264100,2382380,0.016093,2627900,11450000000,0.02,0.09
15,29-04-2024,456400,89897450,0.104222,1841900,2974209736,0.06,0.55,1559300,100453875,...,14946834679,0.31,0.85,615200,5600420,0.025747,2071200,11450000000,0.02,0.08
16,30-04-2024,373300,74076650,0.051794,1749200,2974209736,0.06,0.56,318800,20750625,...,14946834679,0.28,0.81,384600,3519090,0.016091,1632700,11450000000,0.01,0.07
17,02-05-2024,673600,139681400,0.040773,1934300,2974209736,0.07,0.39,2441300,158542700,...,14946834679,0.29,0.72,598700,5544150,0.032795,1784100,11450000000,0.02,0.07
18,03-05-2024,388500,80740800,0.068350,1753800,2974209736,0.06,0.35,2793500,183615725,...,14946834679,0.28,0.69,1002900,9301400,0.049341,1735000,11450000000,0.02,0.07
19,07-05-2024,318500,66885000,0.042970,1571100,2974209736,0.05,0.31,1503400,99339375,...,14946834679,0.26,0.65,445400,4125985,0.028602,1379200,11450000000,0.01,0.04
20,08-05-2024,827500,171742800,0.094715,1430500,2974209736,0.05,0.31,2897100,189284125,...,14946834679,0.24,0.64,868800,7609260,0.046134,1684900,11450000000,0.01,0.04
21,09-05-2024,398700,82693200,0.076822,1441000,2974209736,0.05,0.31,4355900,286207800,...,14946834679,0.25,0.64,865600,7918780,0.012433,1361300,11450000000,0.01,0.04
22,10-05-2024,473300,96866000,0.073002,1321300,2974209736,0.04,0.29,1537000,101152275,...,14946834679,0.25,0.64,733200,6741765,0.027228,1554400,11450000000,0.01,0.04
23,13-05-2024,570100,116925000,0.117955,1319500,2974209736,0.04,0.28,1561900,104089750,...,14946834679,0.27,0.69,1217900,11403085,0.024552,1534800,11450000000,0.01,0.05
24,14-05-2024,234500,48072500,0.096494,1366400,2974209736,0.05,0.28,3125800,209386425,...,14946834679,0.26,0.68,2383700,22421635,0.091918,2042600,11450000000,0.02,0.06
25,15-05-2024,271700,56241700,0.082278,1341000,2974209736,0.05,0.28,4100700,275247350,...,14946834679,0.25,0.67,1524300,13755220,0.031233,2613900,11450000000,0.02,0.08
26,16-05-2024,531100,110125700,0.139473,1176100,2974209736,0.04,0.28,1860900,124454025,...,14946834679,0.25,0.69,530300,4803780,0.022845,2241500,11450000000,0.02,0.08
27,17-05-2024,269800,56118400,0.115220,1101100,2974209736,0.04,0.28,489500,32608750,...,14946834679,0.26,0.66,384300,3447330,0.025161,1961500,11450000000,0.02,0.08
28,20-05-2024,210300,43873800,0.085356,864800,2974209736,0.03,0.26,3679500,243795575,...,14946834679,0.25,0.64,945900,8497135,0.054918,1928900,11450000000,0.02,0.07
29,21-05-2024,376900,78018300,0.116680,658400,2974209736,0.02,0.26,2494400,164700225,...,14946834679,0.25,0.63,1022100,9108400,0.085545,1904300,11450000000,0.02,0.08
30,23-05-2024,361300,75072000,0.101185,714100,2974209736,0.02,0.25,1855500,121901275,...,14946834679,0.26,0.68,1165500,10404810,0.087894,2060900,11450000000,0.02,0.08
31,24-05-2024,293700,60795900,0.196153,456900,2974209736,0.02,0.25,2889200,188293675,...,14946834679,0.26,0.69,3015900,26670945,0.176747,3434400,11450000000,0.03,0.09
32,27-05-2024,355900,73671300,0.165720,363200,2974209736,0.01,0.24,1187600,77786775,...,14946834679,0.26,0.67,432100,3832810,0.073226,1850300,11450000000,0.02,0.08
33,28-05-2024,222000,46176000,0.106798,363700,2974209736,0.01,0.23,2383300,154714125,...,14946834679,0.25,0.66,1173800,10393660,0.207624,2902700,11450000000,0.03,0.09
34,29-05-2024,451700,92772500,0.094625,354100,2974209736,0.01,0.24,2108300,135421325,...,14946834679,0.25,0.66,2939600,25924150,0.135876,4371700,11450000000,0.04,0.10
35,30-05-2024,473100,97019300,0.168603,522700,2974209736,0.02,0.25,2616700,166884200,...,14946834679,0.28,0.67,1438300,12497195,0.097841,3867500,11450000000,0.03,0.10
36,31-05-2024,229000,46945000,0.024952,427900,2974209736,0.01,0.24,1707500,110064225,...,14946834679,0.26,0.65,2686900,23381385,0.227318,5885600,11450000000,0.05,0.12
37,04-06-2024,732800,151120500,0.113768,518200,2974209736,0.02,0.20,1579500,101552475,...,14946834679,0.27,0.68,1371600,11815580,0.121731,5991000,11450000000,0.05,0.10
38,05-06-2024,519500,107837000,0.098180,490600,2974209736,0.02,0.20,2646500,168777400,...,14946834679,0.29,0.72,3976800,33325975,0.155305,8917100,11450000000,0.08,0.13
39,06-06-2024,482600,100863100,0.091899,623900,2974209736,0.02,0.21,2513700,157003725,...,14946834679,0.29,0.69,2262300,18711000,0.098060,7280900,11450000000,0.06,0.13
40,07-06-2024,522400,109864400,0.065571,690600,2974209736,0.02,0.21,2743700,168520575,...,14946834679,0.30,0.70,978000,7990420,0.038259,5196200,11450000000,0.05,0.11
41,10-06-2024,756900,159281100,0.100962,614000,2974209736,0.02,0.21,2385900,145377000,...,14946834679,0.30,0.66,1688700,13694670,0.090580,6289200,11450000000,0.05,0.12
42,11-06-2024,1396500,294482200,0.162812,1341900,2974209736,0.05,0.24,1926800,116559525,...,14946834679,0.30,0.68,1049200,8330120,0.028109,5100800,11450000000,0.04,0.12
43,12-06-2024,545000,114779700,0.109403,1128600,2974209736,0.04,0.23,4185700,249835675,...,14946834679,0.27,0.65,7604400,57799705,0.153160,11401000,11450000000,0.10,0.20
44,13-06-2024,497700,104511900,0.194209,1221700,2974209736,0.04,0.22,2005300,119913850,...,14946834679,0.31,0.63,1178100,8875120,0.058038,9270300,11450000000,0.08,0.19
45,14-06-2024,100,21000,0.000055,1113300,2974209736,0.04,0.22,1258300,75855375,...,14946834679,0.30,0.64,1510700,11602000,0.107758,9785900,11450000000,0.09,0.20
46,17-06-2024,774600,162973400,0.114376,1187900,2974209736,0.04,0.21,2567100,153281600,...,14946834679,0.31,0.69,771100,5830200,0.050533,9286100,11450000000,0.08,0.19

Shift Data for backtest purpose

In [163]:
allX = allX_noshift.copy()
for j in range(len(name)):
    allX[name[j]+'Short_vol'] = allX[name[j]+'Short_vol'].shift(1)
    allX[name[j]+'Turnover'] = allX[name[j]+'Turnover'].shift(1)
    allX[name[j]+'Vol to Automatching'] = allX[name[j]+'Vol to Automatching'].shift(1)
    allX[name[j]+'Outstanding Short_vol'] = allX[name[j]+'Outstanding Short_vol'].shift(1)
    allX[name[j]+'Paid Up Shares'] = allX[name[j]+'Paid Up Shares'].shift(1)
    allX[name[j]+'Outstanding Short_vol to Paid Up Shares'] = allX[name[j]+'Outstanding Short_vol to Paid Up Shares'].shift(1)
    allX[name[j]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares'] = allX[name[j]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares'].shift(1)
newdata = allX_noshift.iloc[-2:]
newdata

,dateexcel,SET:ADVANCShort_vol,SET:ADVANCTurnover,SET:ADVANCVol to Automatching,SET:ADVANCOutstanding Short_vol,SET:ADVANCPaid Up Shares,SET:ADVANCOutstanding Short_vol to Paid Up Shares,SET:ADVANCoutstanding_short_local_and_NVDR_Volume to Paid Up Shares,SET:AOTShort_vol,SET:AOTTurnover,...,SET:WHAPaid Up Shares,SET:WHAOutstanding Short_vol to Paid Up Shares,SET:WHAoutstanding_short_local_and_NVDR_Volume to Paid Up Shares,SET:TLIShort_vol,SET:TLITurnover,SET:TLIVol to Automatching,SET:TLIOutstanding Short_vol,SET:TLIPaid Up Shares,SET:TLIOutstanding Short_vol to Paid Up Shares,SET:TLIoutstanding_short_local_and_NVDR_Volume to Paid Up Shares
45,14-06-2024,100,21000,0.000055,1113300,2974209736,0.04,0.22,1258300,75855375,...,14946834679,0.30,0.64,1510700,11602000,0.107758,9785900,11450000000,0.09,0.20
46,17-06-2024,774600,162973400,0.114376,1187900,2974209736,0.04,0.21,2567100,153281600,...,14946834679,0.31,0.69,771100,5830200,0.050533,9286100,11450000000,0.08,0.19

In [119]:
from tvDatafeed import TvDatafeed, Interval
from math import sqrt

tv = TvDatafeed()
df = tv.get_hist(symbol='SET:SET50', exchange='SET', interval=Interval.in_daily, n_bars=len(allX) + 1)
set50 = df[['close']]
set50.rename(columns = {'close':'set50'}, inplace=True)
#load all set50 data
for i in range (len(name)):
    try:
        df = tv.get_hist(symbol=name[i], exchange='SET', interval=Interval.in_daily, n_bars=len(allX) + 1)
        df = df[['open','close']]
        df[name[i]+'_return'] = (df['close'] - df['open']) / df['open'] * 100
        df[name[i]+'_lag1'] = df[name[i]+'_return'].shift(1)
        set50 = pd.merge(set50, df, left_index=True, right_index=True, how='outer')
        set50.rename(columns = {'open':name[i]+'_open'}, inplace=True)
        set50.rename(columns = {'close':name[i]+'_close'}, inplace=True)
        print(i)
    except:
        df = tv.get_hist(symbol=name[i], exchange='SET', interval=Interval.in_daily, n_bars=len(allX) + 1)
        df = df[['open','close']]
        df[name[i]+'_return'] = (df['close'] - df['open']) / df['open'] * 100
        df[name[i]+'_lag1'] = df[name[i]+'_return'].shift(1)
        set50 = pd.merge(set50, df, left_index=True, right_index=True, how='outer')
        set50.rename(columns = {'open':name[i]+'_open'}, inplace=True)
        set50.rename(columns = {'close':name[i]+'_close'}, inplace=True)
        print(i)
set50 = set50.drop('set50',axis=1)
#returns = np.log(set50).diff() * 100 #1st difference

WARNING:tvDatafeed.main:you are using nologin method, data you access may be limited

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [120]:
set50 = set50.reset_index(drop=False)
set50['datetime'] = set50['datetime'].dt.strftime('%d-%m-%Y')
set50 = set50.rename(columns={'datetime':'dateexcel'})
# Display the updated dataframe
set50.tail(5)

,dateexcel,SET:ADVANC_open,SET:ADVANC_close,SET:ADVANC_return,SET:ADVANC_lag1,SET:AOT_open,SET:AOT_close,SET:AOT_return,SET:AOT_lag1,SET:AWC_open,...,SET:TU_return,SET:TU_lag1,SET:WHA_open,SET:WHA_close,SET:WHA_return,SET:WHA_lag1,SET:TLI_open,SET:TLI_close,SET:TLI_return,SET:TLI_lag1
43,12-06-2024,211.0,210.0,-0.473934,0.476190,60.00,59.50,-0.833333,-0.413223,3.54,...,1.307190,-1.923077,5.30,5.30,0.000000,-1.851852,7.80,7.50,-3.846154,-2.484472
44,13-06-2024,210.0,209.0,-0.476190,-0.473934,59.75,60.00,0.418410,-0.833333,3.54,...,1.298701,1.307190,5.30,5.25,-0.943396,0.000000,7.55,7.60,0.662252,-3.846154
45,14-06-2024,210.0,211.0,0.476190,-0.476190,60.00,60.00,0.000000,0.418410,3.48,...,-0.636943,1.298701,5.25,5.30,0.952381,-0.943396,7.65,7.60,-0.653595,0.662252
46,17-06-2024,212.0,209.0,-1.415094,0.476190,60.00,60.50,0.833333,0.000000,3.42,...,-1.290323,-0.636943,5.30,5.30,0.000000,0.952381,7.60,7.55,-0.657895,-0.653595
47,18-06-2024,209.0,209.0,0.000000,-1.415094,60.75,61.25,0.823045,0.833333,3.46,...,1.298701,-1.290323,5.30,5.30,0.000000,0.000000,7.55,7.60,0.662252,-0.657895

In [121]:
allX = allX.reset_index(drop = True)
allX.tail()

,dateexcel,SET:ADVANCShort_vol,SET:ADVANCTurnover,SET:ADVANCVol to Automatching,SET:ADVANCOutstanding Short_vol,SET:ADVANCPaid Up Shares,SET:ADVANCOutstanding Short_vol to Paid Up Shares,SET:ADVANCoutstanding_short_local_and_NVDR_Volume to Paid Up Shares,SET:AOTShort_vol,SET:AOTTurnover,...,SET:WHAPaid Up Shares,SET:WHAOutstanding Short_vol to Paid Up Shares,SET:WHAoutstanding_short_local_and_NVDR_Volume to Paid Up Shares,SET:TLIShort_vol,SET:TLITurnover,SET:TLIVol to Automatching,SET:TLIOutstanding Short_vol,SET:TLIPaid Up Shares,SET:TLIOutstanding Short_vol to Paid Up Shares,SET:TLIoutstanding_short_local_and_NVDR_Volume to Paid Up Shares
42,11-06-2024,756900.0,159281100.0,0.100962,614000.0,2.974210e+09,0.02,0.21,2385900.0,145377000.0,...,1.494683e+10,0.30,0.66,1688700.0,13694670.0,0.090580,6289200.0,1.145000e+10,0.05,0.12
43,12-06-2024,1396500.0,294482200.0,0.162812,1341900.0,2.974210e+09,0.05,0.24,1926800.0,116559525.0,...,1.494683e+10,0.30,0.68,1049200.0,8330120.0,0.028109,5100800.0,1.145000e+10,0.04,0.12
44,13-06-2024,545000.0,114779700.0,0.109403,1128600.0,2.974210e+09,0.04,0.23,4185700.0,249835675.0,...,1.494683e+10,0.27,0.65,7604400.0,57799705.0,0.153160,11401000.0,1.145000e+10,0.10,0.20
45,14-06-2024,497700.0,104511900.0,0.194209,1221700.0,2.974210e+09,0.04,0.22,2005300.0,119913850.0,...,1.494683e+10,0.31,0.63,1178100.0,8875120.0,0.058038,9270300.0,1.145000e+10,0.08,0.19
46,17-06-2024,100.0,21000.0,0.000055,1113300.0,2.974210e+09,0.04,0.22,1258300.0,75855375.0,...,1.494683e+10,0.30,0.64,1510700.0,11602000.0,0.107758,9785900.0,1.145000e+10,0.09,0.20

X and Y

In [179]:
df3 = pd.DataFrame()

for i in range(len(name)):
    x = allX[['dateexcel',name[i]+'Short_vol',name[i]+'Outstanding Short_vol',name[i]+'Outstanding Short_vol to Paid Up Shares',name[i]+'Vol to Automatching', name[i]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares']].dropna()
    y = set50[['dateexcel',name[i]+'_open',name[i]+'_close',name[i]+'_return',name[i]+'_lag1']]
    y = y[:-mkt] #มีถ้าตลาดเปิดไปแล้ว
    x = x.apply(lambda col: pd.to_numeric(col, errors='coerce') if col.name != 'dateexcel' else col)
    x[name[i]+'Short_vol'] = x[name[i]+'Short_vol'].pct_change() * 100
    x[name[i]+'Outstanding Short_vol'] = x[name[i]+'Outstanding Short_vol'].pct_change() * 100
    x[name[i]+'Outstanding Short_vol to Paid Up Shares'] = x[name[i]+'Outstanding Short_vol to Paid Up Shares'].pct_change() * 100
    x[name[i]+'Vol to Automatching'] = x[name[i]+'Vol to Automatching'].pct_change() * 100
    x[name[i]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares'] = x[name[i]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares'].pct_change() * 100


    merged_df = pd.merge(y, x, on='dateexcel', how='inner')
    merged_df = merged_df.replace([np.inf, -np.inf], np.nan).dropna()
    merged_df.reset_index(drop=True, inplace=True)

    merged_df.rename(columns={name[i]+'_open': 'Open'}, inplace=True)
    merged_df.rename(columns={name[i]+'_close': 'Close'}, inplace=True)
    merged_df.rename(columns={name[i]+'_return': 'Return'}, inplace=True)
    merged_df.rename(columns={name[i]+'_lag1': 'Lag1'}, inplace=True)

    merged_df.rename(columns={name[i]+'Short_vol': 'Short_vol'}, inplace=True)
    merged_df.rename(columns={name[i]+'Outstanding Short_vol': 'Outstanding Short_vol'}, inplace=True)
    merged_df.rename(columns={name[i]+'Outstanding Short_vol to Paid Up Shares': 'Outstanding Short_vol to Paid Up Shares'}, inplace=True)
    merged_df.rename(columns={name[i]+'Vol to Automatching': 'Vol to Automatching'}, inplace=True)
    merged_df.rename(columns={name[i]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares': 'outstanding_short_local_and_NVDR_Volume to Paid Up Shares'}, inplace=True)
    merged_df['Stock'] = name[i]
    #merged_df['']
    if i == 0:
        df3 = merged_df.copy()
    else:
        df3 = pd.concat([df3, merged_df], ignore_index=True)


x = df3[['dateexcel','Stock','Short_vol','Outstanding Short_vol','Outstanding Short_vol to Paid Up Shares','Vol to Automatching', 'outstanding_short_local_and_NVDR_Volume to Paid Up Shares']].dropna()
x.iloc[:, 2:] = x.iloc[:, 2:].apply(pd.to_numeric)
y = df3[['dateexcel','Stock','Open','Close','Return','Lag1']]

Strategy Testing

In [193]:
avg_gain = 0
avg_loss = 0
avg_all = 0
avg_gain_count = 0
avg_loss_count = 0
avg_all_count = 0
winlist = []
drawlist=[]
loselist=[]
profit_list = []
profitTotal = []
tradecount = 0
shortcount = 0
longwinlosecount = 0
shortwinlosecount = 0
longwincount = 0
shortwincount = 0
notional = 100000
df_summary = pd.DataFrame()
for i in range(len(name)):
    df_tempx = x[x['Stock'] == name[i]].reset_index(drop=True)
    df_tempy = y[y['Stock'] == name[i]].reset_index(drop=True)
            #check win rate of 1 side by remove other side order
    adayprofit = []
    for j in range(len(df_tempx)):#df_tempy['Lag1'][j] df_tempx['outstanding_short_local_and_NVDR_Volume to Paid Up Shares]
        heehe = df_tempy['Close'][j]-df_tempy['Open'][j] #df_tempx['Outstanding Short_vol']
        if df_tempx['Outstanding Short_vol'][j] > 5 and df_tempx['outstanding_short_local_and_NVDR_Volume to Paid Up Shares'][j] >= -8: 
            heehe = -heehe
            shortcount += 1
            if heehe != 0:
                shortwinlosecount += 1
            if heehe > 0:
                shortwincount +=1
        elif df_tempx['outstanding_short_local_and_NVDR_Volume to Paid Up Shares'][j] < -8 and df_tempx['Outstanding Short_vol'][j] <= 5:
            heehe = heehe
            tradecount += 1
            if heehe != 0:
                longwinlosecount += 1
            if heehe >0:
                longwincount += 1
        else:
            heehe = 0
        adayprofit.append(heehe)
    df_tempy['profit'] = np.array(adayprofit)

    df_temp = pd.merge(df_tempx, df_tempy, on='dateexcel')

    asdasd = []
    for j in range(len(df_temp)):
        num = notional / df_temp['Open'][j]
        head = df_temp['profit'][j] * num
        asdasd.append(round(head,2))

    win_num = 0
    draw_num = 0
    lose_num = 0
    for j in range(len(df_temp)):
        if df_temp['profit'][j] > 0:
            win_num += 1
        elif df_temp['profit'][j] <0:
            lose_num += 1
        else:
            draw_num += 1
    winlist.append(win_num)
    drawlist.append(draw_num)
    loselist.append(lose_num)
    df_temp['profit100,000'] = np.array(asdasd)
    profit = np.sum(df_temp['profit100,000'])
    profit_list.append(round(profit, 2))
    df_summary = pd.concat([df_summary, df_temp])
df_summary = df_summary.reset_index()

for cat in range (len(df_summary)):
    if df_summary['profit100,000'][cat] > 0:
        avg_gain_count += 1
        avg_gain = avg_gain + df_summary['profit100,000'][cat]
    elif df_summary['profit100,000'][cat] < 0:
        avg_loss_count += 1
        avg_loss = avg_loss + df_summary['profit100,000'][cat]

df_profit = pd.DataFrame()
df_profit['Stock'] = np.array(name)
df_profit['Profit(Notional 100,000)'] = np.array(profit_list)
df_profit['Win'] = np.array(winlist)
df_profit['Draw'] = np.array(drawlist)
df_profit['Loss'] = np.array(loselist)
df_profit['win/win+loss'] = (df_profit['Win'] / (df_profit['Win'] + df_profit['Loss']) * 100).round(2)
df_profit['Gain/Loss'] = df_profit['Profit(Notional 100,000)'].apply(lambda x: 1 if x > 0 else 0)
Total = np.sum(df_profit['Profit(Notional 100,000)'])
Total_count = np.sum(df_profit['Gain/Loss'])
Total_win = (np.sum(df_profit['Win']) / (np.sum(df_profit['Win']) + np.sum(df_profit['Loss'])) * 100).round(2)

average_gain = avg_gain / avg_gain_count
average_loss = avg_loss / avg_loss_count
average_all = Total / (tradecount + shortcount)

winratelong = round(longwincount/longwinlosecount * 100,2)
winrateshort = round(shortwincount/shortwinlosecount * 100,2)
results_dict = {
    'Total': [Total],
    'Total number of profit stocks': [str(Total_count) + '/50'],
    'Total winrate (%)': [Total_win],
    'n. Long' : [tradecount],
    'n. Short': [shortcount],
    'Average_gain' : [average_gain],
    'Average_loss' : [average_loss],
    'Average' : [average_all],
    'Win Rate (Long)' : [winratelong],
    'Win Rate (Short)' : [winrateshort],
}

# Convert the dictionary to a DataFrame
results_df = pd.DataFrame(results_dict)
results_df

,Total,Total number of profit stocks,Total winrate (%),n. Long,n. Short,Average_gain,Average_loss,Average,Win Rate (Long),Win Rate (Short)
0,184523.05,38/50,59.23,87,616,1388.971471,-1229.603632,262.479445,54.29,59.92

In [192]:
#Loop parameter
woww = 0
for riew in range(0, 10):

    for john in range(0, 10):

        winlist = []
        drawlist=[]
        loselist=[]
        profit_list = []
        profitTotal = []
        tradecount = 0
        shortcount = 0
        notional = 100000
        df_summary = pd.DataFrame()
        for i in range(len(name)):
            df_tempx = x[x['Stock'] == name[i]].reset_index(drop=True)
            df_tempy = y[y['Stock'] == name[i]].reset_index(drop=True)
            #check win rate of 1 side by remove other side order
            adayprofit = []
            for j in range(len(df_tempx)):#df_tempy['Lag1'][j] df_tempx['outstanding_short_local_and_NVDR_Volume to Paid Up Shares]
                heehe = df_tempy['Close'][j]-df_tempy['Open'][j] #df_tempx['Outstanding Short_vol']
                if df_tempx['outstanding_short_local_and_NVDR_Volume to Paid Up Shares'][j] >= riew: 
                    heehe = -heehe
                    shortcount += 1
                elif df_tempx['outstanding_short_local_and_NVDR_Volume to Paid Up Shares'][j] <= john:
                    heehe = heehe
                    tradecount += 1
                else:
                    heehe = 0
                adayprofit.append(heehe)
            df_tempy['profit'] = np.array(adayprofit)

            df_temp = pd.merge(df_tempx, df_tempy, on='dateexcel')

            asdasd = []
            for j in range(len(df_temp)):
                num = notional / df_temp['Open'][j]
                head = df_temp['profit'][j] * num
                asdasd.append(round(head,2))

            win_num = 0
            draw_num = 0
            lose_num = 0
            for j in range(len(df_temp)):
                if df_temp['profit'][j] > 0:
                    win_num += 1
                elif df_temp['profit'][j] <0:
                    lose_num += 1
                else:
                    draw_num += 1
            winlist.append(win_num)
            drawlist.append(draw_num)
            loselist.append(lose_num)
            df_temp['profit100,000'] = np.array(asdasd)
            profit = np.sum(df_temp['profit100,000'])
            profit_list.append(round(profit, 2))
            df_summary = pd.concat([df_summary, df_temp])
        df_temp

        df_profit = pd.DataFrame()
        df_profit['Stock'] = np.array(name)
        df_profit['Profit(Notional 100,000)'] = np.array(profit_list)
        df_profit['Win'] = np.array(winlist)
        df_profit['Draw'] = np.array(drawlist)
        df_profit['Loss'] = np.array(loselist)
        df_profit['win/win+loss'] = (df_profit['Win'] / (df_profit['Win'] + df_profit['Loss']) * 100).round(2)
        df_profit['Gain/Loss'] = df_profit['Profit(Notional 100,000)'].apply(lambda x: 1 if x > 0 else 0)
        Total = np.sum(df_profit['Profit(Notional 100,000)'])
        Total_count = np.sum(df_profit['Gain/Loss'])
        Total_win = (np.sum(df_profit['Win']) / (np.sum(df_profit['Win']) + np.sum(df_profit['Loss'])) * 100).round(2)

        results_dict = {
            'Total': [Total],
            'Total number of profit stocks': [str(Total_count) + '/50'],
            'Total winrate (%)': [Total_win]
        }

        # Convert the dictionary to a DataFrame
        results_df = pd.DataFrame(results_dict)
        print(riew, john, tradecount, shortcount)
        print(results_df)
        print("")
        if results_df['Total winrate (%)'][0] > woww:
            df_yes = results_df.copy
            woww = results_df['Total winrate (%)'][0]
            para1 = riew
            para2 = john
print(woww, para1, para2)

0 0 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 1 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 2 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 3 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 4 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 5 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 6 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 7 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 8 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

0 9 753 1458
      Total Total number of profit stocks  Total winrate (%)
0  270353.1                         38/50              53.56

1 0 1152 981
       Total Total number of profit stocks  Total winrate (%)
0  103904.69                         31/50              50.46

1 1 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

1 2 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

1 3 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

1 4 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

1 5 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

1 6 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

1 7 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

1 8 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

1 9 1230 981
      Total Total number of profit stocks  Total winrate (%)
0  72736.78                         31/50              50.08

2 0 1152 724
      Total Total number of profit stocks  Total winrate (%)
0  52214.41                         31/50              50.16

2 1 1230 724
     Total Total number of profit stocks  Total winrate (%)
0  21046.5                         30/50              49.75

2 2 1487 724
      Total Total number of profit stocks  Total winrate (%)
0 -30643.78                         29/50              49.47

2 3 1487 724
      Total Total number of profit stocks  Total winrate (%)
0 -30643.78                         29/50              49.47

2 4 1487 724
      Total Total number of profit stocks  Total winrate (%)
0 -30643.78                         29/50              49.47

2 5 1487 724
      Total Total number of profit stocks  Total winrate (%)
0 -30643.78                         29/50              49.47

2 6 1487 724
      Total Total number of profit stocks  Total winrate (%)
0 -30643.78                         29/50              49.47

2 7 1487 724
      Total Total number of profit stocks  Total winrate (%)
0 -30643.78                         29/50              49.47

2 8 1487 724
      Total Total number of profit stocks  Total winrate (%)
0 -30643.78                         29/50              49.47

2 9 1487 724
      Total Total number of profit stocks  Total winrate (%)
0 -30643.78                         29/50              49.47

3 0 1152 542
    Total Total number of profit stocks  Total winrate (%)
0 -5827.1                         28/50              48.68

3 1 1230 542
      Total Total number of profit stocks  Total winrate (%)
0 -36995.01                         26/50              48.28

3 2 1487 542
      Total Total number of profit stocks  Total winrate (%)
0 -88685.29                         26/50              48.16

3 3 1669 542
      Total Total number of profit stocks  Total winrate (%)
0 -146726.8                         19/50              47.17

3 4 1669 542
      Total Total number of profit stocks  Total winrate (%)
0 -146726.8                         19/50              47.17

3 5 1669 542
      Total Total number of profit stocks  Total winrate (%)
0 -146726.8                         19/50              47.17

3 6 1669 542
      Total Total number of profit stocks  Total winrate (%)
0 -146726.8                         19/50              47.17

3 7 1669 542
      Total Total number of profit stocks  Total winrate (%)
0 -146726.8                         19/50              47.17

3 8 1669 542
      Total Total number of profit stocks  Total winrate (%)
0 -146726.8                         19/50              47.17

3 9 1669 542
      Total Total number of profit stocks  Total winrate (%)
0 -146726.8                         19/50              47.17

4 0 1152 420
      Total Total number of profit stocks  Total winrate (%)
0  13314.23                         30/50              48.66

4 1 1230 420
      Total Total number of profit stocks  Total winrate (%)
0 -17853.68                         28/50              48.23

4 2 1487 420
      Total Total number of profit stocks  Total winrate (%)
0 -69543.96                         27/50              48.11

4 3 1669 420
       Total Total number of profit stocks  Total winrate (%)
0 -127585.47                         24/50              47.07

4 4 1791 420
       Total Total number of profit stocks  Total winrate (%)
0 -108444.14                         25/50              47.28

4 5 1791 420
       Total Total number of profit stocks  Total winrate (%)
0 -108444.14                         25/50              47.28

4 6 1791 420
       Total Total number of profit stocks  Total winrate (%)
0 -108444.14                         25/50              47.28

4 7 1791 420
       Total Total number of profit stocks  Total winrate (%)
0 -108444.14                         25/50              47.28

4 8 1791 420
       Total Total number of profit stocks  Total winrate (%)
0 -108444.14                         25/50              47.28

4 9 1791 420
       Total Total number of profit stocks  Total winrate (%)
0 -108444.14                         25/50              47.28

5 0 1152 339
      Total Total number of profit stocks  Total winrate (%)
0 -14430.22                         28/50              48.04

5 1 1230 339
      Total Total number of profit stocks  Total winrate (%)
0 -45598.13                         25/50              47.62

5 2 1487 339
      Total Total number of profit stocks  Total winrate (%)
0 -97288.41                         25/50              47.58

5 3 1669 339
       Total Total number of profit stocks  Total winrate (%)
0 -155329.92                         21/50              46.54

5 4 1791 339
       Total Total number of profit stocks  Total winrate (%)
0 -136188.59                         24/50               46.8

5 5 1872 339
       Total Total number of profit stocks  Total winrate (%)
0 -163933.04                         23/50              46.55

5 6 1872 339
       Total Total number of profit stocks  Total winrate (%)
0 -163933.04                         23/50              46.55

5 7 1872 339
       Total Total number of profit stocks  Total winrate (%)
0 -163933.04                         23/50              46.55

5 8 1872 339
       Total Total number of profit stocks  Total winrate (%)
0 -163933.04                         23/50              46.55

5 9 1872 339
       Total Total number of profit stocks  Total winrate (%)
0 -163933.04                         23/50              46.55

6 0 1152 274
      Total Total number of profit stocks  Total winrate (%)
0 -31772.93                         25/50              47.73

6 1 1230 274
      Total Total number of profit stocks  Total winrate (%)
0 -62940.84                         22/50              47.31

6 2 1487 274
       Total Total number of profit stocks  Total winrate (%)
0 -114631.12                         22/50              47.31

6 3 1669 274
       Total Total number of profit stocks  Total winrate (%)
0 -172672.63                         21/50              46.27

6 4 1791 274
      Total Total number of profit stocks  Total winrate (%)
0 -153531.3                         23/50              46.55

6 5 1872 274
       Total Total number of profit stocks  Total winrate (%)
0 -181275.75                         23/50               46.3

6 6 1937 274
       Total Total number of profit stocks  Total winrate (%)
0 -198618.46                         23/50              46.27

6 7 1937 274
       Total Total number of profit stocks  Total winrate (%)
0 -198618.46                         23/50              46.27

6 8 1937 274
       Total Total number of profit stocks  Total winrate (%)
0 -198618.46                         23/50              46.27

6 9 1937 274
       Total Total number of profit stocks  Total winrate (%)
0 -198618.46                         23/50              46.27

7 0 1152 205
      Total Total number of profit stocks  Total winrate (%)
0 -74064.26                         24/50              46.69

7 1 1230 205
       Total Total number of profit stocks  Total winrate (%)
0 -105232.17                         22/50              46.31

7 2 1487 205
       Total Total number of profit stocks  Total winrate (%)
0 -156922.45                         23/50              46.46

7 3 1669 205
       Total Total number of profit stocks  Total winrate (%)
0 -214963.96                         19/50              45.46

7 4 1791 205
       Total Total number of profit stocks  Total winrate (%)
0 -195822.63                         20/50               45.8

7 5 1872 205
       Total Total number of profit stocks  Total winrate (%)
0 -223567.08                         17/50              45.58

7 6 1937 205
       Total Total number of profit stocks  Total winrate (%)
0 -240909.79                         18/50              45.57

7 7 2006 205
       Total Total number of profit stocks  Total winrate (%)
0 -283201.12                         16/50              45.15

7 8 2006 205
       Total Total number of profit stocks  Total winrate (%)
0 -283201.12                         16/50              45.15

7 9 2006 205
       Total Total number of profit stocks  Total winrate (%)
0 -283201.12                         16/50              45.15

8 0 1152 160
      Total Total number of profit stocks  Total winrate (%)
0 -91973.82                         21/50              46.23

8 1 1230 160
       Total Total number of profit stocks  Total winrate (%)
0 -123141.73                         21/50              45.86

8 2 1487 160
       Total Total number of profit stocks  Total winrate (%)
0 -174832.01                         21/50              46.09

8 3 1669 160
       Total Total number of profit stocks  Total winrate (%)
0 -232873.52                         18/50               45.1

8 4 1791 160
       Total Total number of profit stocks  Total winrate (%)
0 -213732.19                         20/50              45.47

8 5 1872 160
       Total Total number of profit stocks  Total winrate (%)
0 -241476.64                         18/50              45.26

8 6 1937 160
       Total Total number of profit stocks  Total winrate (%)
0 -258819.35                         17/50              45.26

8 7 2006 160
       Total Total number of profit stocks  Total winrate (%)
0 -301110.68                         16/50              44.85

8 8 2051 160
       Total Total number of profit stocks  Total winrate (%)
0 -319020.24                         13/50              44.76

8 9 2051 160
       Total Total number of profit stocks  Total winrate (%)
0 -319020.24                         13/50              44.76

9 0 1152 137
      Total Total number of profit stocks  Total winrate (%)
0 -91386.21                         22/50              46.26

9 1 1230 137
       Total Total number of profit stocks  Total winrate (%)
0 -122554.12                         20/50              45.88

9 2 1487 137
      Total Total number of profit stocks  Total winrate (%)
0 -174244.4                         22/50              46.11

9 3 1669 137
       Total Total number of profit stocks  Total winrate (%)
0 -232285.91                         18/50               45.1

9 4 1791 137
       Total Total number of profit stocks  Total winrate (%)
0 -213144.58                         20/50              45.48

9 5 1872 137
       Total Total number of profit stocks  Total winrate (%)
0 -240889.03                         18/50              45.26

9 6 1937 137
       Total Total number of profit stocks  Total winrate (%)
0 -258231.74                         17/50              45.26

9 7 2006 137
       Total Total number of profit stocks  Total winrate (%)
0 -300523.07                         15/50              44.84

9 8 2051 137
       Total Total number of profit stocks  Total winrate (%)
0 -318432.63                         13/50              44.76

9 9 2074 137
       Total Total number of profit stocks  Total winrate (%)
0 -317845.02                         13/50              44.87

53.56 0 0

In [185]:
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler

xs = x[['Short_vol','Outstanding Short_vol','Outstanding Short_vol to Paid Up Shares','Vol to Automatching', 'outstanding_short_local_and_NVDR_Volume to Paid Up Shares']]
ys = y[['Return']]

#xs = x[['outstanding_short_local_and_NVDR_Volume to Paid Up Shares']]
xs = sm.add_constant(xs)

# Fit the OLS model
model = sm.OLS(ys, xs)

# Perform the fitting
results = model.fit()

# Print a summary of the regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Return   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     1.995
Date:                Tue, 18 Jun 2024   Prob (F-statistic):             0.0764
Time:                        11:08:11   Log-Likelihood:                -4015.0
No. Observations:                2211   AIC:                             8042.
Df Residuals:                    2205   BIC:                             8076.
Df Model:                           5
Covariance Type:            nonrobust
=============================================================================================================================
                                                                coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------------
const                                                        -0.1827      0.032     -5.711      0.000      -0.245      -0.120
Short_vol                                                 -5.272e-07   1.73e-06     -0.305      0.760   -3.92e-06    2.86e-06
Outstanding Short_vol                                        -0.0031      0.002     -1.328      0.184      -0.008       0.001
Outstanding Short_vol to Paid Up Shares                       0.0026      0.002      1.253      0.210      -0.001       0.007
Vol to Automatching                                        1.789e-06   6.94e-06      0.258      0.797   -1.18e-05    1.54e-05
outstanding_short_local_and_NVDR_Volume to Paid Up Shares    -0.0128      0.005     -2.477      0.013      -0.023      -0.003
==============================================================================
Omnibus:                      473.945   Durbin-Watson:                   1.958
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7401.951
Skew:                          -0.566   Prob(JB):                         0.00
Kurtosis:                      11.892   Cond. No.                     1.62e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.62e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [182]:
x['dateexcel'] = pd.to_datetime(x['dateexcel'], format='%d-%m-%Y')
y['dateexcel'] = pd.to_datetime(y['dateexcel'], format='%d-%m-%Y')
cutoff_date = pd.to_datetime('2024-06-06')
x_test = x[x['dateexcel'] > cutoff_date]
y_test = y[y['dateexcel'] > cutoff_date]
x_train = x[x['dateexcel'] <= cutoff_date]
y_train = y[y['dateexcel'] <= cutoff_date]

In [187]:
xs = x_train[['outstanding_short_local_and_NVDR_Volume to Paid Up Shares']]
ys = y_train[['Return']]

#xs = x[['outstanding_short_local_and_NVDR_Volume to Paid Up Shares']]
xs = sm.add_constant(xs)

# Fit the OLS model
model = sm.OLS(ys, xs)

# Perform the fitting
results = model.fit()

# Print a summary of the regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Return   R-squared:                       0.008
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     14.36
Date:                Tue, 18 Jun 2024   Prob (F-statistic):           0.000156
Time:                        11:09:03   Log-Likelihood:                -3359.3
No. Observations:                1862   AIC:                             6723.
Df Residuals:                    1860   BIC:                             6734.
Df Model:                           1
Covariance Type:            nonrobust
=============================================================================================================================
                                                                coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------------
const                                                        -0.1233      0.034     -3.605      0.000      -0.190      -0.056
outstanding_short_local_and_NVDR_Volume to Paid Up Shares    -0.0204      0.005     -3.790      0.000      -0.031      -0.010
==============================================================================
Omnibus:                      444.146   Durbin-Watson:                   1.949
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8381.825
Skew:                          -0.619   Prob(JB):                         0.00
Kurtosis:                      13.320   Cond. No.                         6.37
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Today's action

In [164]:
columns_to_transform = newdata.columns[newdata.columns != 'dateexcel']
newdata[columns_to_transform] = newdata[columns_to_transform].pct_change() * 100
newdata = newdata.tail(1)
newdata

,dateexcel,SET:ADVANCShort_vol,SET:ADVANCTurnover,SET:ADVANCVol to Automatching,SET:ADVANCOutstanding Short_vol,SET:ADVANCPaid Up Shares,SET:ADVANCOutstanding Short_vol to Paid Up Shares,SET:ADVANCoutstanding_short_local_and_NVDR_Volume to Paid Up Shares,SET:AOTShort_vol,SET:AOTTurnover,...,SET:WHAPaid Up Shares,SET:WHAOutstanding Short_vol to Paid Up Shares,SET:WHAoutstanding_short_local_and_NVDR_Volume to Paid Up Shares,SET:TLIShort_vol,SET:TLITurnover,SET:TLIVol to Automatching,SET:TLIOutstanding Short_vol,SET:TLIPaid Up Shares,SET:TLIOutstanding Short_vol to Paid Up Shares,SET:TLIoutstanding_short_local_and_NVDR_Volume to Paid Up Shares
45,14-06-2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,17-06-2024,774500.0,775963.809524,207595.372394,6.700799,0.0,0.0,-4.545455,104.013351,102.070849,...,0.0,3.333333,7.8125,-48.957437,-49.748319,-53.104612,-5.107348,0.0,-11.111111,-5.0

In [221]:
df4 = pd.DataFrame()
for i in range(len(name)):
    ex = newdata[['dateexcel',name[i]+'Short_vol',name[i]+'Outstanding Short_vol',name[i]+'Outstanding Short_vol to Paid Up Shares',name[i]+'Vol to Automatching', name[i]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares']].dropna()
    ex = ex.apply(lambda col: pd.to_numeric(col, errors='coerce') if col.name != 'dateexcel' else col)
    merged_df = ex.copy()
    merged_df = merged_df.replace([np.inf, -np.inf], np.nan).dropna()
    merged_df.reset_index(drop=True, inplace=True)

    merged_df.rename(columns={name[i]+'Short_vol': 'Short_vol'}, inplace=True)
    merged_df.rename(columns={name[i]+'Outstanding Short_vol': 'Outstanding Short_vol'}, inplace=True)
    merged_df.rename(columns={name[i]+'Outstanding Short_vol to Paid Up Shares': 'Outstanding Short_vol to Paid Up Shares'}, inplace=True)
    merged_df.rename(columns={name[i]+'Vol to Automatching': 'Vol to Automatching'}, inplace=True)
    merged_df.rename(columns={name[i]+'outstanding_short_local_and_NVDR_Volume to Paid Up Shares': 'outstanding_short_local_and_NVDR_Volume to Paid Up Shares'}, inplace=True)
    merged_df['Stock'] = name[i]
    if i == 0:
        df4 = merged_df.copy()
    else:
        df4 = pd.concat([df4, merged_df], ignore_index=True)
df4['Main Strategy'] = np.where((df4['Outstanding Short_vol'] <= 5) & (df4['outstanding_short_local_and_NVDR_Volume to Paid Up Shares'] < -8), 'Long',
                            np.where((df4['Outstanding Short_vol'] > 5) & (df4['outstanding_short_local_and_NVDR_Volume to Paid Up Shares'] >= -8), 'Short', '0'))
df_action = df4[['Stock','Main Strategy']]
df_action

         Stock Main Strategy
0   SET:ADVANC         Short
1      SET:AOT             0
2      SET:AWC             0
3    SET:BANPU             0
4      SET:BBL         Short
5     SET:BDMS             0
6      SET:BEM             0
7    SET:BGRIM         Short
8       SET:BH             0
9      SET:BTS             0
10     SET:CBG         Short
11  SET:CENTEL             0
12    SET:COM7         Short
13   SET:CPALL             0
14     SET:CPF         Short
15     SET:CPN             0
16     SET:CRC             0
17   SET:DELTA         Short
18      SET:EA          Long
19    SET:EGCO             0
20  SET:GLOBAL             0
21    SET:GPSC         Short
22    SET:GULF             0
23   SET:HMPRO             0
24  SET:INTUCH             0
25     SET:IVL             0
26   SET:KBANK             0
27     SET:KCE             0
28     SET:KTB             0
29     SET:KTC             0
30      SET:LH             0
31    SET:MINT         Short
32     SET:MTC             0
33      SET:OR             0
34     SET:OSP             0
35     SET:PTT             0
36   SET:PTTEP         Short
37   SET:PTTGC             0
38   SET:RATCH         Short
39   SET:SAWAD             0
40     SET:SCB             0
41     SET:SCC             0
42    SET:SCGP         Short
43   SET:TISCO             0
44     SET:TOP             0
45    SET:TRUE         Short
46     SET:TTB         Short
47      SET:TU             0
48     SET:WHA             0
49     SET:TLI             0